<head>
  <% provide(:title, "Sign in | Mean Review") %>
</head>
<body>
  <div class="interface">
    <%= form_for @user, url: sessions_create_path do |f| %>
      <br /><h2 class="title">Sign In Below</h2><br />

      <div class="row">
        <div class="col-lg-4">
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, class: 'form-control' %>
          </div><br />

          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, class: 'form-control' %>
          </div><br />
        </div>
      </div>

      <%= f.submit "Sign In", class: 'btn btn-default' %>
    <% end %><br />

    <h3 class="title">Or</h3><br />

    <div class="oauth">
      <%= link_to(image_tag("/assets/button-facebook.png", size: "257x53"), "auth/facebook") %>
    </div>
  </div>
</body>
