<head>
  <% provide(:title, "#{@user.username} | Mean Review") %>
</head>
<body>
  <div class="interface">
    <div class="admin">
      <br /><h2 style="color: RebeccaPurple;"><%= "ADMIN" if @user.admin %></h2>
    </div>

    <h2 class="title">User Profile</h2><br />

    <div class="info">
      Userame: <b><%= @user.username %></b>
      <% if @user.provider == 'facebook' %>
        (Signed in with <%= @user.provider.capitalize %>) |
      <% end %>
      <% unless @user.hometown.nil? %>
        | Hometown: <b><%= @user.hometown %></b><br />
      <% end %>
    </div><br />

    <div class="link">
      <% if @user.provider.nil? %>
        <%= link_to 'Edit', edit_user_path(@user) %> |
      <% end %>
      <%= link_to 'Delete', @user, method: :delete, data: { confirm: "Are you sure?" } %> |
      <%= link_to 'Back', :back %>
    </div>
  </div>
</body>
