<% provide(:title, "Home | Mean Review") %>

<div class="latest">
  <% @reviews.order("created_at DESC").first(5).each do |movie| %>
    <b><%= movie.title %> | <%= movie.date_published %> | <%= movie.writer.name %> </b><br />
    <%= truncate(movie.content, ommision: "... ", length: 500) %>
    <%= link_to "Read More", review_path(movie) %>
    <br /><br />
  <% end %>
</div>
