<head>
  <% provide(:title, "Home | Mean Review") %>
</head>
<style>
  html, body {height: 100%; overflow: hidden;}
  h1 {font-family: "Impact", Charcoal, sans-serif;}
  .item, .active {margin-top: -80px;}
</style>
<body>
  <div id="carousel-example" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example" data-slide-to="1"></li>
      <li data-target="#carousel-example" data-slide-to="2"></li>
      <li data-target="#carousel-example" data-slide-to="3"></li>
      <li data-target="#carousel-example" data-slide-to="4"></li>
    </ol>

    <div class="carousel-inner">
      <div class="item active">
        <%= link_to image_tag(@reviews.first_five.last.banner.url), review_path(@reviews.first_five.last)%>
        <div class="carousel-caption">
          <h1><%= @reviews.first_five.last.excerpt %></h1>
          <h4><%= @reviews.first_five.last.writer.name %> reviews "<%= @reviews.first_five.last.title %>"</h4>
        </div>
      </div>
      <div class="item">
        <%= link_to image_tag(@reviews.first_five.second.banner.url), review_path(@reviews.first_five.second)%>
        <div class="carousel-caption">
          <h1><%= @reviews.first_five.second.excerpt %></h1>
          <h4><%= @reviews.first_five.second.writer.name %> reviews "<%= @reviews.first_five.second.title %>"</h4>
        </div>
      </div>
      <div class="item">
        <%= link_to image_tag(@reviews.first_five.third.banner.url), review_path(@reviews.first_five.third)%>
        <div class="carousel-caption">
          <h1><%= @reviews.first_five.third.excerpt %></h1>
          <h4><%= @reviews.first_five.third.writer.name %> reviews "<%= @reviews.first_five.third.title %>"</h4>
        </div>
      </div>
      <div class="item">
        <%= link_to image_tag(@reviews.first_five.fourth.banner.url), review_path(@reviews.first_five.fourth)%>
        <div class="carousel-caption">
          <h1><%= @reviews.first_five.fourth.excerpt %></h1>
          <h4><%= @reviews.first_five.fourth.writer.name %> reviews "<%= @reviews.first_five.fourth.title %>"</h4>
        </div>
      </div>
      <div class="item">
        <%= link_to image_tag "/assets/the-room.jpg"%>
        <div class="carousel-caption">
          <h1>Here at THE MEAN REVIEW, your movie sucks... and we want to know it!</h1>
          <h4>
            Submit your hilariously scathing review of a terribe movie at
            <a href="mailto:submissions@themeanreview.io?subject=testing out mailto">submissions@themeanreview.io</a>
            and help your fellow citizens conserve hours of their precious lives.
          </h4>
        </div>
      </div>

    <a class="left carousel-control" href="#carousel-example" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</body>
