<head>
  <% provide(:title, "Home | Mean Review") %>
</head>
<style>
  html, body {height: 100%; overflow: hidden;}
  h1 {font-family: "Impact", Charcoal, sans-serif;}
  .item, .active {margin-top: -80px;}
</style>
<body>
  <body>
    <div id="carousel-example" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example" data-slide-to="1"></li>
        <li data-target="#carousel-example" data-slide-to="2"></li>
        <li data-target="#carousel-example" data-slide-to="3"></li>
        <li data-target="#carousel-example" data-slide-to="4"></li>
      </ol>

      <div class="carousel-inner">
        <div class="item active">
          <%= link_to image_tag(@reviews.latest_review.banner.url), review_path(@reviews.latest_review) unless @reviews.latest_review.banner.url.empty?%>
          <div class="carousel-caption">
            <%= image_tag("/assets/quotes.png", width: '120', height: '120', style: 'position: relative; right: 53%; top: 6em;') %>
            <%= image_tag("/assets/quotes1.png", width: '120', height: '120', style: 'position: relative; left: 53%; top: 7em;') %>
            <h1><%= @reviews.latest_review.excerpt %></h1>
            <h4><%= @reviews.latest_review.writer.name %> reviews "<%= @reviews.latest_review.title %>"</h4>

          </div>
        </div>
        <div class="item">
          <%= link_to image_tag(@reviews.second_latest_review.banner.url), review_path(@reviews.second_latest_review)%>
          <div class="carousel-caption">
            <%= image_tag("/assets/quotes.png", width: '120', height: '120', style: 'position: relative; right: 53%; top: 6em;') %>
            <%= image_tag("/assets/quotes1.png", width: '120', height: '120', style: 'position: relative; left: 53%; top: 7em;') %>
            <h1><%= @reviews.second_latest_review.excerpt %></h1>
            <h4><%= @reviews.second_latest_review.writer.name %> reviews "<%= @reviews.second_latest_review.title %>"</h4>
          </div>
        </div>
        <div class="item">
          <%= link_to image_tag(@reviews.third_latest_review.banner.url), review_path(@reviews.third_latest_review)%>
          <div class="carousel-caption">
            <%= image_tag("/assets/quotes.png", width: '120', height: '120', style: 'position: relative; right: 53%; top: 6em;') %>
            <%= image_tag("/assets/quotes1.png", width: '120', height: '120', style: 'position: relative; left: 53%; top: 7em;') %>
            <h1><%= @reviews.third_latest_review.excerpt %></h1>
            <h4><%= @reviews.third_latest_review.writer.name %> reviews "<%= @reviews.third_latest_review.title %>"</h4>
          </div>
        </div>
        <div class="item">
          <%= link_to image_tag(@reviews.fourth_latest_review.banner.url), review_path(@reviews.fourth_latest_review)%>
          <div class="carousel-caption">
            <%= image_tag("/assets/quotes.png", width: '120', height: '120', style: 'position: relative; right: 53%; top: 6em;') %>
            <%= image_tag("/assets/quotes1.png", width: '120', height: '120', style: 'position: relative; left: 53%; top: 7em;') %>
            <h1><%= @reviews.fourth_latest_review.excerpt %></h1>
            <h4><%= @reviews.fourth_latest_review.writer.name %> reviews "<%= @reviews.fourth_latest_review.title %>"</h4>
          </div>
        </div>
        <div class="item">
          <%= link_to image_tag "/assets/the-room.jpg"%>
          <div class="carousel-caption">
            <h1>Here at THE MEAN REVIEW, your movie sucks and we want to know!</h1>
            <h4>
              Submit your hilariously scathing review of a terribe movie at
              <a href="mailto:submissions@themeanreview.io?subject=testing out mailto">submissions@themeanreview.io</a>
              and help your fellow citizens conserve hours of their precious lives.
            </h4>
          </div>
        </div>

    <a class="left carousel-control" href="#carousel-example" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</body>
