<head>
  <style>
    .label-checkbox {padding: 5px;}
  </style>
</head>
<body>
  <%= form_for writer do |f| %>
    <% if writer.errors.any? %>
    <div class="alert alert-warning alert-dismissable">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <h3><strong>Error! </strong><%= pluralize(writer.errors.count, "error") %> prohibited this writer from being saved:</h3>
        <ul>
        <% writer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %><br />
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="col-lg-6">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, class: 'form-control' %><br />

        <%= f.label :publication %><br />
        <%= f.text_field :publication, autofocus: true, class: 'form-control' %><br />

        <%= f.label :bio %><br />
        <%= f.text_area :bio, size: "80x10", placeholder: "Minimum 100 characters", autofocus: true, class: 'form-control' %><br />
      </div>
    </div>

    <% if writer.new_record? %>
      <h3 class="title">Add a review for this critic</h3><br />

      <%= f.fields_for :reviews do |rf| %>

        <div class="genre_select">
          <%= rf.label :genres %><br />
          <%= rf.collection_check_boxes(:genre_ids, Genre.all, :id, :genre_name) do |g| %>
            <%= g.label class: "label-checkbox" do %>
              <%= g.check_box + " " + g.text %>
            <% end %>
          <% end %>
        </div><br />

        <div class="row">
          <div class="col-lg-6">
            <%= rf.label :title %><br />
            <%= rf.text_field :title, class: 'form-control' %><br />

            <%= rf.label :year %><br />
            <%= rf.text_field :year, class: 'form-control', placeholder: "Year of movie's release, e.g. 1991" %><br />

            <%= rf.label :date_published %><br />
            <%= rf.text_field :date_published, class: 'form-control', placeholder: "Date of article, e.g. May 1, 1991" %><br />

            <%= rf.label :content %><br />
            <%= rf.text_area :content, placeholder: "Minimum 500 characters", size: "80x30", class: 'form-control' %><br />

            <%= rf.label :excerpt %><br />
            <%= rf.text_field :excerpt, autofocus: true, class: 'form-control', placeholder: "Choose a headline for the movie" %><br />
          </div>
        </div>
      <% end %>
    <% end %>

    <div class="actions">
      <% if current_user.try(:admin?) && !writer.new_record? %>
        <%= link_to "Delete", @writer, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger pull-left' %>
      <% end %>
      <%= link_to 'Back', :back, class: 'btn btn-default' %>
      <%= f.submit class: 'btn btn-default' %>
    </div>
  <% end %>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
</body>
