<head>
  <% provide(:title, "#{@writer.name} | Mean Review") %>
  <style>
    ul {list-style-type: none; padding-left: 0px;}
    .back {margin-bottom: 5em;}
  </style>
</head>
<body>
  <main style="width:950px; margin:0 auto;">
    <br /><h2 class="title"><%= @writer.name %></h2><br />

    <div class="info">
      Publication <b><%= @writer.publication %></b> |
      Number of Reviews <b><%= @writer.reviews.count %></b> |
      Latest Review <%= link_to @writer.latest_review.title, review_path(@writer, @writer.latest_review) %>
      (<%= @writer.latest_review.year %>)
      <% if current_user.try(:admin?) %>
        | <%= link_to "Add a review", new_writer_review_path(@writer) %>
        | <%= link_to "Edit", edit_writer_path(@writer) %>
        | <%= link_to "Delete", @writer, method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
    </div><br />

    <div class="bio">
      <%= simple_format(@writer.bio) %>
    </div><br />

    <p>
      <h4 class="title"><%= link_to "Show Reviews", writer_reviews_path(@writer), class: "show_reviews" %></h4>
    </p><br />

    <div class='movies'>
      <ul>
      </ul>
    </div><br />

    <div class="back">
      <%= link_to 'Back', :back, class: 'btn btn-default' %>
    </div>
  </main>
</body>
