<head>
  <% provide(:title, "#{@review.title} | Mean Review") %>
  <style>
    .poster {margin-right: 1em; margin-bottom: 1em;}
    .content {margin-top: 8px;}
    .content {font-size: 16px;}
  </style>
</head>
<body>
  <main style="width:950px; margin:0 auto;">
    <br /><h2 class="title"><%= @review.title %> (<%= @review.year %>)</h2><br />

    <div class="info">
      By <b><%= link_to @review.writer.name, writer_path(@review.writer) %></b> |
      <b><%= @review.writer.publication %></b> |
      <b><%= @review.date_published %></b> |
      <% @review.genres.each do |genre| %>
        <%= link_to genre.genre_name, genre_path(genre) %> |
      <% end %>
      <% if current_user.try(:admin?) %>
        <%= link_to "Edit", edit_writer_review_path(@review.writer, @review) %> |
        <%= link_to "Delete", @review, method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
    </div>

    <div class="content">
      <%= image_tag(@review.image.url, class: 'poster', align: 'left') if @review.image %>
      <%= simple_format(@review.content) %>
      <% if @review.content.length < 1750 %>
        <br />  <br /><br />  <br /><br />
      <% end %>
    </div>

    <div class='comments'>
      <%= render 'comments/comments' %>
    </div>

    <%= form_for([@review, @comment]) do |f|  %>
      <%= f.text_area :content %>

      <p><%= f.submit %></p>
    <% end %>



    <div class="back">
      <%= link_to 'Back', :back, class: 'btn btn-default' %>
    </div><br /><br /><br /><br />
  </main>
</body>
