<head>
  <% provide(:title, "#{@review.title} | Mean Review") %>
  <style>
    .poster {margin-right: 1em; margin-bottom: 1em;}
    .content {margin-top: 8px; font-size: 16px;}
    ul {list-style-type: none; padding-left: 0px;}
  </style>
</head>
<body>
  <main style="width:950px; margin:0 auto;">
    <div class="movie_title">
      <p>
        <br /><h2 class="title"><%= @review.title %> (<%= @review.year %>)</h2><br />
      </p>
    </div>

    <div class="info">
      By <b><%= link_to @review.writer.name, writer_path(@review.writer) %></b> |
      <b><%= @review.writer.publication %></b> |
      <b><%= @review.date_published %></b> |
      <% @review.genres.each do |genre| %>
        <%= link_to genre.genre_name, genre_path(genre) %> |
      <% end %>
      <% if current_user.try(:admin?) %>
        <%= link_to "Edit", edit_writer_review_path(@review.writer, @review) %> |
        <%= link_to "Delete", @review, method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
    </div>

    <div class="content">
      <%= image_tag(@review.image.url, class: 'poster', align: 'left') if @review.image %>
      <%= simple_format(@review.content) %>
      <% if @review.content.length < 1750 %>
        <br /><br />  <br /><br />  <br /><br />
      <% end %>
    </div>

    <p>
      <h4 class="title"><%= link_to "Load Comments", review_comments_path(@review), class: "load_comments" %></h4>
    </p>

    <div class='comments'>
      <ul>
      </ul>
    </div>

    <div class='comments_form'>
      <% if logged_in? %>
        <%= form_for([@review, @comment]) do |f|  %>
          <%= f.text_area :content, size: "80x3", placeholder: "Add a public comment..." %>

          <p><%= f.submit id: 'comment-button', class: 'btn btn-default' %></p>
        <% end %>
      <% end %>
    </div><br />

    <div class="back">
      <%= link_to 'Back', :back, class: 'btn btn-default' %>
    </div><br /><br /><br /><br />
  </main>
  
  <script id="comment-template" type="text/x-handlebars-template">
    <li>{{content}}</li><br />
  </script>
</body>
