<% provide(:title, "#{@review.title} | Mean Review") %>

<h2><%= @review.title %> (<%= @review.year %>)</h2><br />

<div class="info">
  By <b><%= link_to @review.writer.name, writer_path(@review.writer) %></b> |
  <b><%= @review.writer.publication %></b> |
  Published <b><%= @review.date_published %></b> |
  <% @review.genres.each do |genre| %>
    <%= link_to genre.genre_name, genre_path(genre) %> |
  <% end %>
  <% if admin? %>
    <%= link_to "Edit", edit_review_path(@review) %> |
    <%= link_to "Delete", @review, method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
</div>

<div class="content">
  <%= simple_format(@review.content) %>
</div>

<h3>Comments</h3>

<div class="comments">
  <% if user_signed_in? %>
    <%= form_for [@review, Comment.new] do |f| %>
      <%= f.text_area :body, placeholder: "Add a comment" %><br/>
      <%= f.submit "Add Comment" %>
    <% end %>
  <% end %>

  <ul>
    <%= render(partial: 'comments/comment', collection: @review.comments) %>
  </ul>
</div>

<div class="back">
  <%= link_to 'Back', :back %>
</div>
