<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Mean Review" %></title>
    <link rel="icon" href="http://www.iconsplace.com/icons/preview/white/film-reel-256.png">
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Mean Review" %>">
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <%= render 'layouts/header' %>
    </header>
    <main role="main" style="width:1600px; margin:0 auto;">
      <div class="message">
        <% if flash[:error] %>
        <div class="alert alert-danger">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <h2><%= content_tag(:div, flash[:error], id: "flash_error")  %></h2>
        </div>
        <% elsif flash[:notice]  %>
        <br /><div class="alert alert-success">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <br /><h2><%= content_tag(:div, flash[:notice], id: "flash_notice") %></h2>
        </div>
        <% elsif flash[:alert] %>
        <br /><div class="alert alert-info">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <br /><h2><%= content_tag(:div, flash[:alert], id: "flash_alert") %></h2>
        </div>
        <% end %>
      </div>

      <%= yield %>

    </main>
    <footer>
      <%= render 'layouts/footer' %>
    </footer>
  </body>
  <script id="comment-template" type="text/x-handlebars-template">
    <li><strong>{{username}} said: </strong>{{content}}</li><br />
  </script>
</html>
